@{
    ViewData["Title"] = "Home Page";
}
<script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script type="text/jscript"></script>
@*@model TestUpd8.Mvc.ViewModels.ClientListVm;*@

<div>
    <div>

    </div>
</div>
